<p id="notice">
    <%= notice %>
</p>
<div id="inboxBtn" class="lapor-feedbox-button">
    Inbox
</div>
<div id="outboxBtn" class="lapor-feedbox-button">
    Outbox
</div>
<div class="lapor-feedbox">
    <div id="inboxContent" class="lapor-feedbox-content">
        <div>Inbox</div>
        <div>Inbox</div>
        <div>Inbox</div>
        <div>Inbox</div>
        <div>Inbox</div>
        <div>Inbox</div>
        <div>Inbox</div>
        <div>Inbox</div>
        <div>Inbox</div>
        <div>Inbox</div>
        <div>Inbox</div>
        <div>Inbox</div>
    </div>
    <div id="outboxContent" class="lapor-feedbox-content">
        <div>Outbox</div>
        <div>Outbox</div>
        <div>Outbox</div>
        <div>Outbox</div>
        <div>Outbox</div>
        <div>Outbox</div>
        <div>Outbox</div>
        <div>Outbox</div>
        <div>Outbox</div>
        <div>Outbox</div>
        <div>Outbox</div>
        <div>Outbox</div>
    </div>
</div>

<div class="lapor-book-a4">
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
    <div class="lapor-page-a4">
        <div class="lapor-page-a4-front">
            <h1>FRONT</h1>
        </div>
        <div class="lapor-page-a4-back">
            <h1>BACK</h1>
        </div>
    </div>
</div>

<style>
    .lapor-book-a4{
        margin: 20px;
        width: 840px;
        height: 594px;
        position: relative;
    }
    .lapor-page-a4{
        width: 420px;
        height: 594px;
        background: white;
        box-shadow: inset 0 0 30px rgba(0,0,0,0.8);
        position: absolute;
        transition: all 0.6s ease;
        transform-style: preserve-3d;
        transform-origin: center left;
        right: 0;
    }
    .lapor-page-a4-turn{
        transform: rotateY(180deg);
    }
    .lapor-page-a4-front, .lapor-page-a4-back{
        position: absolute;
        backface-visibility: hidden;
    }
    .lapor-page-a4-back{
        transform: rotateY(180deg);
    }
    .lapor-page-a4 h1{
        margin: 10px;
    }
</style>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function(){
        let count = 0;
        $('.lapor-page-a4').on('click', function(){
            if($(this).hasClass('lapor-page-a4-turn')){
                $(this).removeClass('lapor-page-a4-turn');
                $(this).css('z-index', 0);
                count--;
            }
            else{
                $(this).addClass('lapor-page-a4-turn');
                $(this).css('z-index', count);
                count++;
            }
        });
    });
    inboxContent = document.getElementById('inboxContent');
    outboxContent = document.getElementById('outboxContent');
    inboxBtn = document.getElementById('inboxBtn');
    outboxBtn = document.getElementById('outboxBtn');

    outboxContent.style.display = 'none';
    inboxBtn.classList.add('lapor-active');

    inboxBtn.onclick = function(){
        outboxContent.style.display = 'none';
        inboxContent.style.display = 'block';
        inboxBtn.classList.add('lapor-active');
        outboxBtn.classList.remove('lapor-active');
    }

    outboxBtn.onclick = function(){
        inboxContent.style.display = 'none';
        outboxContent.style.display = 'block';
        outboxBtn.classList.add('lapor-active');
        inboxBtn.classList.remove('lapor-active');
    }
</script>