<p id="notice">
    <%= notice %>
</p>

<% if session[:username] %>

    <div class="lapor-userbox">
        <div class="lapor-userbox-profile">
            <% if @user.profile == nil || @user.profile.profile_picture == '' %>
                <%= image_tag "anonymous/profile_male.jpg", :class => "lapor-profile-resize" %>
            <% else %>
                <%= image_tag @user.profile.profile_picture, :class => "lapor-profile-resize"  %>
            <% end %>
        </div>
        <h1><%= session[:username] %></h1>
    </div>
    <div class="lapor-twitbox">
        <textarea rows="10" cols="70" class="lapor-twitbox-input"></textarea>
    </div>
<% else %>
    <div id="inboxBtn" class="lapor-feedbox-button">
        Inbox
    </div>
    <div id="outboxBtn" class="lapor-feedbox-button">
        Outbox
    </div>
    <div class="lapor-feedbox">
        <div id="inboxContent" class="lapor-feedbox-content">
            <div>Inbox</div>
            <div>Inbox</div>
            <div>Inbox</div>
            <div>Inbox</div>
            <div>Inbox</div>
            <div>Inbox</div>
            <div>Inbox</div>
            <div>Inbox</div>
            <div>Inbox</div>
            <div>Inbox</div>
            <div>Inbox</div>
            <div>Inbox</div>
        </div>
        <div id="outboxContent" class="lapor-feedbox-content">
            <div>Outbox</div>
            <div>Outbox</div>
            <div>Outbox</div>
            <div>Outbox</div>
            <div>Outbox</div>
            <div>Outbox</div>
            <div>Outbox</div>
            <div>Outbox</div>
            <div>Outbox</div>
            <div>Outbox</div>
            <div>Outbox</div>
            <div>Outbox</div>
        </div>
    </div>

    <script type="text/javascript">
        inboxContent = document.getElementById('inboxContent');
        outboxContent = document.getElementById('outboxContent');
        inboxBtn = document.getElementById('inboxBtn');
        outboxBtn = document.getElementById('outboxBtn');

        outboxContent.style.display = 'none';
        inboxBtn.classList.add('lapor-active');

        inboxBtn.onclick = function(){
            outboxContent.style.display = 'none';
            inboxContent.style.display = 'block';
            inboxBtn.classList.add('lapor-active');
            outboxBtn.classList.remove('lapor-active');
        }

        outboxBtn.onclick = function(){
            inboxContent.style.display = 'none';
            outboxContent.style.display = 'block';
            outboxBtn.classList.add('lapor-active');
            inboxBtn.classList.remove('lapor-active');
        }
    </script>
<% end %>