<p id="notice"><%= notice %></p>

<h1>
  Welcome, 
  <%= @user.profile.nil? ?  @user.username : @user.profile.fullname %>
</h1>

<% if @user.profile == nil %>
  <%= render 'createProfile', profile: @profile %>
<% else %>
  <%= render 'editProfile', profile: @profile %>
<% end %>