<div class="lapor-signup-content">
    <h1 class="lapor-signup-title">LadangPortfolio</h1>

    <div class="lapor-signup-form">
        <h1>Sign Up</h1>
        <%= render 'signup', user: @user %>
    </div>
</div>