<main class="lapor-main">
    <div class="lapor-signup-content">
    <h1 class="lapor-signup-title">LadangPortfolio</h1>

    <div class="lapor-signup-form">
        <h1>Sign In</h1>
        <%= render 'signin', user: @user %>
    </div>
    </div>
</main>