<div class="lapor-signup-content">
    <h1 class="lapor-signup-title">PORTLUV</h1>

    <div class="lapor-signup-form">
        <h1>Update User Data</h1>
        <%= render 'updateUserSignInWithGithub', user: @user %>
    </div>
</div>