<div class="lapor-profile">
    <div class="lapor-profile-picture"></div>
    <h1 class="lapor-profile-name">Agustinus Theodorus</h1>
</div>


<script>
    // setTimeout(function(){
    //     document.getElementById('laporNavbar').style.transform = 'translateY(-42px)';
    //     document.getElementById('laporBody').style.transform = 'translateY(-42px)';
    // }, 200);
</script>