/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

body{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Lato', sans-serif;
    user-select: none;
    user-zoom: none;
}

.ui-page-active { 
    outline: none; 
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #a6a6a6;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.lapor-navbar{
    background: #dd5858;
    background-image: linear-gradient(#c93434, #dd5858);
    width: 100%;
    height: 42px;
    display: flex;
}

.lapor-navbar-item{
    --fontSize: 18px;
    --parentHeight: 42px;
    
    font-size: var(--fontSize);
    color: white;
    text-decoration: none;

    margin-left: 15px;
    margin-right: 15px;
    line-height: var(--parentHeight);

    transition: all .5s;
}

.lapor-navbar-item:hover{
    cursor: pointer;
    text-shadow: 2px 2px 8px #ffebeb;
}

.lapor-body{
    transition: all .5s;
}

.lapor-main{
    --paddingSize: calc(30px * 2);
    --navbarSize: 42px;
    width: 80vw;
    
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lapor-signin-button{
    margin-left: auto;
}
.lapor-active{
    background: #dd5858;
}