/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

body{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Lato', sans-serif;
    user-select: none;
    user-zoom: none;
}

.ui-page-active { 
    outline: none; 
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #a6a6a6;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.lapor-navbar{
    background: #dd5858;
    background-image: linear-gradient(#c93434, #dd5858);
    width: 100%;
    height: 42px;
    display: flex;

    transition: all .5s ease;
}

.lapor-alt-navbar{
    width: 100%;
    height: 0;
    display: flex;
    background: #dd5858;
    flex-direction: column;
    transition: all .5s ease; 
}

.lapor-alt-navbar *{
    opacity: 0;
    transition: all .5s ease; 
}

@media screen and (min-width: 515px){
    .lapor-alt-navbar-item{
        display: none;
    }
    .lapor-burger-label{
        display: none;
    }
}

@media screen and (max-width: 515px){
    .lapor-navbar-item{
        display: none;
    }
    .lapor-alt-navbar-item{
        display: block;
    }
}

.lapor-burger:checked ~ .lapor-alt-navbar{
    height: 215px;
}

.lapor-burger:checked ~ .lapor-alt-navbar *{
    height: 42px;
    opacity: 1;
    border-top: 1px solid #ce4848;
}

.lapor-navbar-item{
    --fontSize: 18px;
    --parentHeight: 42px;
    
    font-size: var(--fontSize);
    color: white;
    text-decoration: none;

    margin-left: 15px;
    margin-right: 15px;
    line-height: var(--parentHeight);

    transition: all .5s;
}

.lapor-alt-navbar-item{
    --fontSize: 18px;
    --parentHeight: 42px;
    
    opacity: 0;
    height: 0;
    font-size: var(--fontSize);
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: var(--parentHeight);

    transition: all .5s ease;
}

.lapor-alt-navbar-item:hover{
    background: #e26c6c;
}

@media screen and (min-width: 515px){
    .lapor-alt-navbar-title{
        display: none;
    }
}

.lapor-alt-navbar-title{
    z-index: auto;
    left: calc(50vw - (106px / 2));
    right: auto;
    cursor: default;
}

.lapor-burger{
    opacity: 0;
    position: absolute;
}

.lapor-burger-label{
    margin-top: calc((42px - 29px) / 2);
    height: 29px;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}

.lapor-burger-label > div {
  width: 29px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.lapor-navbar-item:hover{
    cursor: pointer;
    text-shadow: 2px 2px 8px #ffebeb;
}

.lapor-body{
    transition: all .5s;
}

.lapor-main{
    --paddingSize: calc(30px * 2);
    --navbarSize: 42px;
    width: 80vw;
    
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lapor-signin-button{
    margin-left: auto;
}
.lapor-active{
    background: #dd5858;
}