// Place all the styles related to the connection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lapor-frame-box{
    background: #282828;
    width: 400px;
    min-height:110px;
    position: absolute;
    padding: 10px;
    margin-top: 150px;
    box-shadow: 6px 6px 52px -1px black;
}
  
.lapor-frame-box::before{
    content: "";
    width: 180px;
    height:  180px;
    background: transparent;
    border: 5px solid #381102;
    transform: rotate(33deg) skew(-28deg);
    position: absolute;
    top: -95px;
    left: 110px;
    z-index: -1;
}
  
.lapor-frame-box::after{
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: red;
    position: absolute;
    left: calc((100vw - 50px) / 2);
    top: -128px;
    left: 201px;
}

.lapor-frame-image-resize{
    width: 100%;
}

.lapor-workbook{
    width: 36px; 
    height: 100%; 
    background: dodgerBlue; 
    cursor: pointer; 

    position: relative;
}

.lapor-portfolio-containter{
    margin-top: 20px;
    display: flex;
}