.lapor-landing-page-navbar{
    width: 100vw;
    height: 48px;

    background: white;
    color: #dd5858;
    box-shadow: 1px 1px 23px -1px rgba(17, 17, 17, .5);

    position: fixed;
    z-index: 2;
    transition: all .5s;
    transform: translateY(-48px);
}
.lapor-landing-page-navbar-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.slide-img{
    width: 100vw;
    height: 100vh;
    background-image: image-url("web_assets/dashboard/home_slider_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: .225;
    margin-bottom: 40px;
}
.lapor-how-to-card{
    margin: 10px;
    width: 240px;
    background: white;
    box-shadow: 0px 0px 13px 0px rgba(17, 17, 17, .5);
    border-radius: 6px;
    line-height: 16pt;

    padding: 15px;
    font-size: 12pt;
    text-align: center;

    cursor: pointer;
}
.lapor-landing-page-background-desc > h1{
    font-family: 'Oswald', sans-serif; 
    color: white; 
    
    width: 100%; 
    font-size: 54pt; 
    text-align: left; 
    line-height: 50pt; 
}
.lapor-landing-page-background-desc span{
    color: white; 
    font-size: 12pt
}
@media screen and (min-width: 352px){
    .lapor-landing-page-background-desc > h1{
        font-size: 54pt;
    }
}
@media screen and (max-width: 352px){
    .lapor-landing-page-background-desc > h1{
        font-size: 46pt;
    }
}
@media screen and (min-width: 954px){
    .lapor-landing-page-background-desc{
        top: 30%;
        left: 72px;
    }
    .lapor-landing-page-card-container{
        width: 60vw;
    }
    .lapor-landing-page-large-desc{
        width: 70vw;
        display: flex;
    }
}
@media screen and (min-width: 515px) and (max-width: 954px){
    .lapor-landing-page-background-desc{
        top: 23%;
        left: 36px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .lapor-landing-page-large-desc{
        width: 90vw;
        display: flex;
    }
}
@media screen and (max-width: 515px){
    .lapor-landing-page-button{
        display: none;
    }
    .lapor-landing-page-background-desc{
        padding-left: 15px;
        padding-right: 15px;
        top: 15%;
        left: 0;
    }
    .lapor-landing-page-large-desc{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.lapor-landing-page-button{
    font-family: 'Oswald', sans-serif;
    font-size: 15pt;
    color: white; 
    text-decoration: none;
    
    position: absolute; 
    z-index: 1; 
    right: 18px;
    top: 14px;
     
    cursor: pointer;
}
.lapor-landing-page-title{
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
    color: white; 
    text-decoration: none;
    
    position: absolute; 
    z-index: 1; 
    top: 14px;
    right: 0;
    left: 0;
    text-align: center;
     
    cursor: pointer;
}
.lapor-red-font{
    color: #dd5858;
}
.lapor-landing-page-signup-button{
    width: 84px;
    display: block;

    font-size: 12pt;
    color: white;
    text-decoration: none;
    text-align: center;
    
    padding: 12px;
    border: 1px solid white;
    border-radius: 8px;
    
    cursor: pointer;
}
.lapor-landing-page-signup-button:hover{
    background: white;
    color: #dd5858;
}
.lapor-landing-page-background{
    background: #af4646; 
    position: relative; 
    
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
}
.lapor-landing-page-background-desc{
    display: none;
    position: absolute; 
    z-index: 1; 
}
.lapor-landing-page-large-title{
    font-family: 'Oswald', sans-serif;
    font-size: 36pt; 
    line-height: 34pt;
    width: 100%; 
    
    margin-top: 54px; 
    margin-bottom: 54px; 
    text-align: center; 
}
.lapor-landing-page-large-desc{
    padding-top: 10px;   
    margin: auto; 
    
    font-size: 16pt;
    text-align: center;
    line-height: 24pt;
    letter-spacing: 2px;

    justify-content: space-between;
}
.lapor-landing-page-large-title > span:hover, .lapor-how-to-card:hover{
    color: #686868;
}
@media screen and (min-width: 564px){
    .lapor-landing-page-footer{
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
        grid-template-rows: auto auto;
        grid-template-areas: "desc contact"
                             "copyright copyright";
    }
    .lapor-landing-page-footer .lapor-landing-page-signup-button{
        margin-left: 10px;
    }
    .lapor-landing-page-footer > span:nth-child(2){
        justify-content: flex-end;
    }
}
@media screen and (max-width: 564px){
    .lapor-landing-page-footer{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "desc"
                             "contact"
                             "copyright";
    }
    .lapor-landing-page-footer > span:nth-child(2), 
    .lapor-landing-page-footer-desc{
        flex-direction: column;
        text-align: center;
    }
    .lapor-landing-page-footer .lapor-landing-page-signup-button{
        margin-top: 10px;
    }
}
.lapor-landing-page-footer{
    background: #323232; 
    padding: 20px;
    padding-top: 45px;
    margin-top: 30px; 
    position: relative;

    display: grid;
}
.lapor-landing-page-footer span{
    font-size: 12pt;
    color: white;
}
.lapor-landing-page-footer > span:nth-child(2){
    display: flex;
    align-items: center;
}
.lapor-landing-page-footer > *{
    padding: 10px;
}
.lapor-landing-page-footer-title{
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    color: white;
    display: block;
    text-align: center;

    margin-top: 10px;
    grid-area: copyright;
}
.lapor-landing-page-footer-desc{
    display: flex;
    align-items: center;
}